POSTGRES_DB=course_management
POSTGRES_USER=course_user
POSTGRES_PASSWORD=course_password
POSTGRES_PORT=15432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:15432/course_management
SPRING_DATASOURCE_USERNAME=course_user
SPRING_DATASOURCE_PASSWORD=course_password
