MYSQL_DATABASE=course_management
MYSQL_USER=course_user
MYSQL_PASSWORD=course_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=13306

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:13306/course_management?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=course_user
SPRING_DATASOURCE_PASSWORD=course_password
